@mixin button-style($bg-color, $text-color) {
    background: $bg-color;
    color: $text-color;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 15px -6px #000000;
    transition: 300;
    
   

  
    &:hover {
      background-color: darken($bg-color, 15%);
    }
}

