
<div>
  <h2>Hero Management</h2>

  <!-- Formulario para buscar héroes -->
  <div>
    <input
      [(ngModel)]="heroName"
      placeholder="Buscar héroe por nombre"
    />
    <button (click)="searchHeroByName(heroName)">Buscar</button>
  </div>

  <!-- Lista de héroes -->
  <ul>
    @if( showFiltered ) {
      @for( hero of filteredHeroes; track hero.id){
        <li>
          {{ hero.name }}
          <button (click)="updateHero(hero)">Actualizar</button>
          <button (click)="deleteHero(hero)">Eliminar</button>
        </li>
      }
    }@else {
      @for( hero of heroes; track hero.id){
        <li>
          {{ hero.name }}
          <button (click)="updateHero(hero)">Actualizar</button>
          <button (click)="deleteHero(hero)">Eliminar</button>
        </li>
      }
    }
    
    
  </ul>

  <!-- Botón para agregar un nuevo héroe -->
  <button (click)="addHero()">Agregar Nuevo Héroe</button>
</div>


<router-outlet />
