<div class="container">
  <header class="row">
    <div class="logo-container" (click)="returnHome()">
      <img src="assets/logo-color.png" alt="logo largo calaber super hero web"/>
    </div>    
    <div class="form-group column">
      <label>Busqueda por nombre</label>
      <div class="row">
        <input type="search" [(ngModel)]="searchValue" appUppercase>      
          <button class="icon-button" (click)="searchHero()">
            <fa-icon [icon]="['fas', 'search']" class="icon-input"></fa-icon>
          </button>
      </div>      
    </div>
  </header> 
  <main>
    <app-spinner></app-spinner>
    <router-outlet />
  </main>
</div>
 


