@import "../../../../styles.scss";

.container{
    justify-content: space-between;
    padding: 1rem;
    font-style: italic;
    .counter-selector{
        select{
            margin: 0rem 0.5rem;
        }
    }
    .pagination-buttons{
        button{
            margin: 0rem 0.5rem;
            padding: 0.2rem 0.5rem;
        }
        label{
            color: $secondary-color;            
        }
    }
}



@media (max-width: 720px) {
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .counter-selector{
            margin-bottom: 0.5rem;
        }
    }
}