@import 'styles/mixins';
@import 'styles/_variables';


*{
    box-sizing: border-box;
}

html, body { 
    height: 100%; 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    color: $primary-color;
    background-color: $primary-color;
}
img { max-width: 100%; max-height: 100%;}

a, a:visited{
    text-decoration: none;
    color: initial;
}

ul{
    list-style: none;
    padding: 0px;
}

.primary-button{
    @include button-style($secondary-color, #FFFFFF);
}

.secondary-button{
    @include button-style($primary-color, #FFFFFF);
}
.icon-button{
    @include button-style($secondary-color, #FFFFFF);
    margin: 0rem 0.2rem;
    padding: 0.5rem 1rem;
}
.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}


