<div class="hero-list-contanier">
  <app-hero-list-paginator 
    [heroes]="showFiltered ? filteredHeroes : heroes"
    (paginatedHeroes)="updatePagination($event)"
  />
  <ul>
    @for(hero of paginatedHeroes; track hero.id){
      <li>
        <app-hero-single-card 
          [hero]="hero" 
          (edit)="onEditHero($event)" 
          (delete)="onDeleteHero($event)" 
        />
       </li>
    }
  </ul>
  <button class="floating-button" (click)="toggleDrawer()">
    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
  </button>
  
</div>


@let title = selectedHero ? "Editando a " + selectedHero.name : "Nuevo Heroe";

<app-hero-form-drawer title = {{title}} [isOpen] = "showDrawer" (close)="toggleDrawer()">
  <app-hero-form 
    [hero]="selectedHero"
    (formSubmit)="onAddHero($event)"
  />
</app-hero-form-drawer>
